[Unit]
Description=Send System Temperature To Embedded Controller
Documentation=https://github.com/icecream95/x1e-ec-tool
ConditionVirtualization=no
ConditionFirmware=|smbios-field(product_family = "ASUS Vivobook S 15")

[Service]
Type=exec
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/local/bin/x1e-ec-tool ec-service

[Install]
WantedBy=multi-user.target
